/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  background-color: #fafafa;
  font-family: 'Josefin Sans', sans-serif;
}

.clear-fix {
  clear: both;  
}

/* Navigation Bar */
.top-nav {
  background-color: white;
  border-bottom-color: #edeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 70px;
  padding-top: 15px;
}

.top-nav .add {
  margin-top: 10px;
}

.top-nav .add a {
  font-weight: bold;
  color: #125688;
  font-size: 16px;
  padding-left: 8px;
}

.brand {
  color: #125688;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}

/* Gram index */
.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

.card p, .card .message {
  font-size: 18px;
  margin: 20px;
}

.handle {
  margin: 10px;
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}

.gram-actions {
  align-self: flex-end;
}

.gram-actions a {
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
  margin-left: auto;
}

/* Gram entry */
.card.form {
  padding: 20px;
}

label {
  font-size: 18px;
}

input {
  font-size: 18px;
  font-weight: 400;
}

.my-btn {
  background-color: #125688;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

/* Checkbox */
.form-check-input {
  margin-left: 8px;
}

.form-check-label {
  margin-left: 5px;
}

/* Comments */
.comments, .comment {
  padding: 20px;
}

.comment {
  font-size: 16px;
  margin-bottom: 5px;
}

.comment_handle {
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}